@page
@model Ass_SWD.Pages.Payments.CreateModel
@using Ass_SWD.Models
@{
    Layout = "_MainLayout";
}


<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>

<body class="mt-5">
    <h1 style="margin-left: 300px;">Add Payment</h1>
    <div class="container w-50 mt-5">
        <div class="row">
            <form method="post">
                
                <div class="mb-3">
                    <label class="form-label" for="dateInput">Date Of Payment</label>
                    <input type="date" class="form-control" id="dateInput" asp-for="PaymentEntity.PayedDate">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="amountInput">Amount</label>
                    <input type="text" class="form-control" id="amountInput" asp-for="PaymentEntity.Amount" aria-describedby="amountHelp">
                </div>
                <div class="mb-3 ">
                    <label>Status</label>
                    <input type="radio" class="form-check-input" id="exampleCheck1" asp-for="PaymentEntity.Status" value="true">
                    <label class="form-check-label" for="exampleCheck1">True</label>
                    <input type="radio" class="form-check-input" id="exampleCheck1" asp-for="PaymentEntity.Status" value="false">
                    <label class="form-check-label" for="exampleCheck1">False</label>
                   
                </div>

                <div class="mb-3">
                    <label>Category</label>
                    <select class="form-select" aria-label="Default select example" id="categorySelect" name="PaymentEntity.CategoryId" asp-for="PaymentEntity.CategoryId">
                        <option selected>Category</option>
                        @foreach (Category p in Model.paymentsGroupByCateID)
                        {


                            <option value="@p.CategoryId" >@p.CategoryName</option>


                        }


                    </select>
                </div>
               
                <div class="mb-3">
                    <label class="form-label" for="invoiceInput">Invoice Number</label>
                    <input type="text" class="form-control" id="invoiceInput" asp-for="PaymentEntity.InvoiceNumber" aria-describedby="invoiceHelp">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="infoInput">Billing Information</label>
                    <input type="text" class="form-control" id="infoInput" asp-for="PaymentEntity.BillingInformation" aria-describedby="infoHelp">
                </div>
                <button type="submit" class="btn btn-primary">Add Payment</button>
            </form>

        </div>
    </div>
</body>