@page "/Category/ViewDetail/{CategoryId}"
@model Ass_SWD.Pages.Category.ViewDetailModel
@{
    Layout = "_MainLayout";
}

<style>
    .card-header.bg-primary {
        background-color: #007bff !important;
    }

        .card-header.bg-primary h2 {
            font-weight: bold;
            text-transform: uppercase;
        }

    .card-title {
        font-weight: bold;
        text-transform: uppercase;
    }

    .card-text {
        color: #666;
    }

    .card-body{
        display:flex;
        margin: 20px;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                @if (TempData.ContainsKey("message"))
                {
                    <h4 class="wrap-notification" style="color:red">@TempData["message"]</h4>
                }
                <div class="card-header bg-primary text-white">
                    <h2 class="text-center mb-0">Detail Category</h2>
                </div>
                <div class="card-body">
                    <label for="id">Category ID : </label>
                    <label id="id" class="card-title">@Model._category.CategoryId</label>
                </div>
                <div class="card-body">
                    <label for="name">Category Name : </label>
                    <label id="name" class="card-text">@Model._category.CategoryName</label>
                </div>
                <div class="card-body">
                    <label for="des">Category Description : </label>
                    <label id="des" class="card-text">@Model._category.Description</label>
                </div>
                <button class="btn btn-primary" onclick="location.href='/Category/Update/@Model._category.CategoryId'">Update</button>
            </div>
        </div>
    </div>
</div>